.home-img1-bg {
  background-image: url("https://images.unsplash.com/photo-1589903308904-1010c2294adc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80%22");
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat; 
   opacity: 0.9;
  /*background: linear-gradient( to top ,rgb(0, 0, 0),#ff0000); */
}
/* .hero-section{
 
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;

} */
.head{
  color: rgb(255, 255, 255);
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 3rem;
  font-family: serif;
}
.para-head{
  color:rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
  font-size: 1.7rem;
  letter-spacing: 0.6px;
}
.btn-home{
  display: flex;
  align-items: center
}