            
.form-card{
  margin-top: 20px;
   margin-left: 0px;
   margin-bottom: 0px;
}
.img{
    width:600px;
    opacity: 0.4;
    margin: 0;
    height:100vh;
    position:absolute ;
 
}
/* .img-bg{
    background-color: rgb(0, 0, 0);
    width: 600px;
    height:100vh;
  

/* } */
#form { 
    background-color: rgb(246, 246, 246);
    padding: 20px;
   

} */
/* .form-control{
   
    background-color: rgb(251, 245, 245);
}
     */
h6{
     margin-top:250px;
     color:rgba(255, 255, 255, 0.692);
     text-align: center;
}
.login-fb-btn{
    background-color:rgb(0, 0, 0) ;
    border-radius:25px;
    width: 100%;
    border:2px solid rgb(163, 159, 159);
    height:2.5rem;
}
.login-insta-btn{
    background-color:rgb(0, 0, 0) ;
    border-radius:25px;
    width: 100%;
    border:2px solid rgb(163, 159, 159);
    height:2.5rem;

}

.text-2{
    color: rgb(255, 255, 255);
}
.text-1 {
    color: rgb(255, 255, 255);
}
.text-3{
    color: rgb(255, 255, 255);
}


.logo-btn{
    height: 6rem;
    width: 100px;
    margin-left: 8rem;
    border-radius: 8rem;

    justify-content: center ;
}