@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.text-center{
    font-family: sans-serif;
}

.bg-1{
    /* background-color: rgb(9, 130, 211); */
  
}
.mycard{
   margin-top: 40px;
   /* border: 2px solid rgb(19, 3, 3); */
   padding: 30px;
   margin-right: 100px;

} 
.img-signup{
   width:700px;
   height:600px;
   position: fixed;
   background-size: cover;
   opacity: 0.8
}
.sign-google-btn{
    background-color:rgb(8, 125, 227) ;
    border-radius:25px;
    width: 100%;
    border:2px solid rgb(163, 159, 159);
    height:2.5rem;

}